streamlit
openai
langchain
langchain-openai
langchain-community
python-dotenv
tiktoken

# --- loaders dependencies ---
pymupdf
docx2txt
pypdf
python-docx
beautifulsoup4

# --- other (既存) ---
chromadb
click
clickhouse-connect
coloredlogs
dataclasses-json
distro